/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
*.DS_Store
Thumbs.db
npm-debug.log
_ide_helper.php
.idea/
*.iml
phpunit.xml
life-messenger
.vagrant/
app/storage/logs
*.bak
docs/._*